
/* 10th section */

.Description{
    height: 50%;
    width: 100%;
    background-color: #2c2f64;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
} 

.Description > div:nth-child(1){
    height: 0;
    width: 95%;
    border-top: white solid 1px;
}
.Descriptioninner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2.5%;
} 

.Descriptioninner > div:nth-child(1){
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 50px;
}

.Descriptioninner div:nth-child(1) div{
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    margin: 20px 0px 175px 0px;
}
.Descriptioninner div:nth-child(1) div img{
    height: 25px;
    width: 25px;
    filter: invert(100%) brightness(100%);
}
.Descriptioninner div:nth-child(1) h1, label{
    color: white;
    margin: 0%;
}


.Descriptioninner > div:nth-child(2){
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 115px;
    margin-top: 50px;
}

.Descriptioninner > div:nth-child(2) > div{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    gap: 30px; 
}
.Descriptioninner > div:nth-child(2) > div a{
    color: #646cff;    
}